<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head-admin %>
</head>
<body class="admin-container">
    <div class="page-wrap">
        <div class="header-admin-section"></div>
        <section class="main-admin-section login">
            <div class="row">
                <div class="large-7 large-centered columns">
                    <div class="row">
                        <div class="medium-12 columns">
                            <div class="portal">
                                <div class="row ">
                                    <div class="medium-6 columns text-center left-panel">
                                        <div class="left-panel-inner">
                                            <h3 class="text-uppercase">Login</h3>
                                            <p><span>Welcome to the Portal</span></p>
                                            <p><i class="fa fa-lock"></i></p>
                                        </div>
                                    </div>
                                    <div class="medium-6 columns right-panel">
                                        <div class="right-panel-inner">
                                            <% if (message.length > 0) { %>
                                                <div class="callout alert %>">
                                                    <p class="text-center"><i class="fa fa-warning"></i> <%= message %></p>
                                                </div>
                                            <% } %>
                                            <form method="post" action="/admin/login" data-abide novalidate >
                                                <div class="row">
                                                    <div class="medium-12 columns ">
                                                        <!-- <label class="input-effects-label">Enter your name</label> -->
                                                        <input class="input-effects" type="text" name="username" placeholder="Enter username" value="<% if(typeof username !== 'undefined'){ %><%= username %><% } %>" required>
                                                        <span class="input-effects-bar"></span>
                                                    </div>
                                                    <div class="medium-12 columns">
                                                        <!-- <label class="input-effects-label">Enter your password</label> -->
                                                        <input class="input-effects" type="password" name="password" placeholder="Enter password" value="<% if(typeof password !== 'undefined'){ %><%= password %><% } %>" required>
                                                        <span class="input-effects-bar"></span>
                                                    </div>
                                                    <div class="medium-12 columns text-right">
                                                        <button type="submit" class="large button text-uppercase blue-button">Log in</button>
                                                    </div>
                                                    <div class="medium-12 columns text-right">
                                                        <a href="/admin/new-password">Forgotten your Password?</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include partials/footer-admin %>
</body>
</html>
