<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
    <% include partials/head-admin %>
    <script src='/js/angular.min.js'></script>
    <script src='/js/angular-route.min.js'></script>
    <script src='/js/angular-sanitize.min.js'></script>
    <script src='/js/angular-animate.min.js'></script>
    <script src='/js/angular-cookies.min.js'></script>
    <script src='/js/angular-translate.min.js'></script>
    <script src='/js/angular-translate-storage-cookie.min.js'></script>    
    <script src='/js/angular-translate-loader-url.min.js'></script>
    <script src='/js/angular-file-upload-shim.min.js'></script>
    <script src='/js/angular-file-upload.min.js'></script>
    <script src='/js/config.js'></script>
    <script src='/js/main.js'></script>
    <script src='/settings/language.js'></script>    
    <script src='/users/users.js'></script>
    <script src='/posts/posts.js'></script>
    <script src='/feeds/feeds.js'></script>
    <script src='/settings/roles.js'></script>
</head>
<body class="admin-container" ng-controller="MainCtrl">
    <% include partials/header-admin %>
    <section class="main-admin-section dashboard">
        <div class="row small-collapse medium-collapse large-collapse full-width">
            <div class="medium-4 large-2 columns dashboard-menu">
                <div class="dashboard-menu-inner">
                    <% include partials/nav %>
                </div>
            </div>
            <div class="medium-8 large-10 columns dashboard-menu-content">
                <!-- this is where content will be injected -->
                <div ng-view></div>
            </div>
        </div>
    </section>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/what-input/what-input.min.js"></script>
    <script src="/foundation-sites/dist/foundation.min.js"></script>
    <script src="/js/min/app-min.js"></script>
</body>
</html>