<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head-admin %>
</head>
<body class="admin-container">
    <div class="page-wrap">
        <div class="header-admin-section"></div>
        <section class="main-admin-section new-password">
            <div class="row">
                <div class="large-7 large-centered columns">
                    <div class="row">
                        <div class="medium-12 columns">
                            <div class="portal">
                                <div class="row ">
                                    <div class="medium-6 columns text-center left-panel">
                                        <div class="left-panel-inner">
                                            <h3 class="text-uppercase">Reset your password</h3>
                                            <p><i class="fa fa-lock"></i></p>
                                        </div>
                                    </div>
                                    <div class="medium-6 columns right-panel">
                                        <div class="right-panel-inner">
                                            <form method="post" action="/get-in-touch" data-abide novalidate >
                                                <div class="row">
                                                    <div class="medium-12 columns ">
                                                        <input class="input-effects" type="email" placeholder="Enter your email" name="email" value="<% if(typeof email !== 'undefined'){ %><%= email %><% } %>" required>
                                                        <span class="input-effects-bar"></span>
                                                    </div>
                                                    <div class="medium-12 columns text-right">
                                                        <button type="submit" class="large button text-uppercase blue-button">Request new password</button>
                                                    </div>
                                                    <div class="medium-12 columns text-right">
                                                        <a href="/admin/login">Sign in</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include partials/footer-admin %>
</body>
</html>