@import 'colours';

.blog {
    a {
        color:$colour_7_dark;
        &:hover{
            color:$colour_8_dark;
        }
        .list-all-blogs {
            border-top: solid 3px $colour_5_main;
            border-left: solid 1px $colour_4_mid;
            border-right: solid 1px $colour_4_mid;
            border-bottom: solid 1px $colour_4_mid;
            margin-bottom: rem-calc(36);
            -webkit-box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
            -moz-box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
            box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;    

            h3 {
                font-weight: bold;
            }

            &:hover{
                -webkit-box-shadow: 0px 5px 5px -1px $colour_7_dark_alpha;
                -moz-box-shadow: 0px 5px 5px -1px $colour_7_dark_alpha;
                box-shadow: 0px 5px 5px -1px $colour_7_dark_alpha;
            }                
        }
    }
}
@media screen and #{breakpoint(medium)} {
    // Medium and up styles    

}
