$colour_1_light: #FFFFFF;
$colour_2_light: #f5f5f5;
$colour_3_mid: #E2E2E2;
$colour_4_mid: #DDDDDD;
$colour_5_main: #993333;
$colour_6_dark: #732626;
$colour_7_dark: #2B2B2B;
$colour_8_dark: #1a1a1a;
$dark_green : #008000;

$colour_1_light_alpha : rgba(255, 255, 255, 0.6);
$colour_2_light_alpha : rgba(245, 245, 245, 0.6);
$colour_3_mid_alpha: rgba(226, 226, 226, 0.6);
$colour_4_mid_alpha: rgba(221, 221, 221, 0.6);
$colour_5_main_alpha: rgba(153, 51, 51, 0.9);
$colour_6_dark_alpha: rgba(115, 38, 38, 0.5);
$colour_7_dark_alpha: rgba(43, 43, 43, 0.6);
$colour_8_dark_alpha: rgba(26, 26, 26, 0.6);
