$colour_1_light : #BBE4F1 ;
$colour_2_light : #99D6EA ;
$colour_3_mid   : #5BC2E7;
$colour_4_mid   : #0099D8 ;
$colour_5_main  : #0078C8;
$colour_6_dark  : #0067C0 ;
$colour_7_dark  : #0057B8 ;


// branding //
$light_blue     : #2aa9e0;
$dark_blue      : #2f378f;
$light_gray     : #f0f0f0;
$mid_gray       : #e0e0e0;
$light_orange   : #f5683d;
$mid_orange     : #f35626;
$dark_orange    : #da3c0b;
$light_yellow   : #febf67;
$mid_yellow     : #feab3a;
$dark_yellow    : #fe9501;
$light_green    : #00cc00;
$mid_green      : #009900;
$dark_green     : #008000;

$light_black    : #636363;
$mid_black      : #4f4f4f;
$dark_black     : #383838;

/*$dark_gray: ??????*/
$light_blue_alpha : rgba(42, 169, 224, 0.6);
$dark_blue_alpha : rgba(47, 55, 143, 0.6);

$colour_1_light_alpha : rgba(255, 255, 255, 0.6);
$colour_2_light_alpha : rgba(245, 245, 245, 0.6);
$colour_3_mid_alpha: rgba(226, 226, 226, 0.6);
$colour_4_mid_alpha: rgba(221, 221, 221, 0.6);
$colour_5_main_alpha: rgba(153, 51, 51, 0.9);
$colour_6_dark_alpha: rgba(115, 38, 38, 0.5);
$colour_7_dark_alpha: rgba(43, 43, 43, 0.6);
$colour_8_dark_alpha: rgba(26, 26, 26, 0.6);


