@import 'colours-admin';
        
.text-decoration-underline {
    border-bottom: 4px solid $light_orange;
}

.page-wrap { 
    background-color: $mid_gray; 
}

.portal {
    @extend .callout;

    border: 0;
    -webkit-box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
    -moz-box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
    box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
}

.admin-container {
    a {
        color: $colour_5_main;

        &:hover{ 
            color: $colour_7_dark; 
        }
    }
    
    i { 
        width: 20px; 
        padding-left: 1px;
    }

    .menu > li > a > i {
        margin-right: 0;
    }

}

.dashboard {

    .dashboard-menu-content {
        
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(20);
        padding-left: rem-calc(20);
        padding-right: rem-calc(20);
        margin-top: 44px;

        table {
            button, a.blue-button { 
                margin: 1px 0 0 0; 
                color: $white;
            }
            .label-input {
                margin-top: 16px;
            }
        }
    }

    .dashboard-menu {
        background-color: $mid_gray;
        border-right: solid 1px $mid_gray;
        border-bottom: solid 1px $mid_gray;
        margin-top: 44px;

        .dashboard-menu-inner {            
            background-color: $light_gray;
            -webkit-box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
            -moz-box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
            box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;

        }
        .vertical {
            width: 100%;

            li { 
                border-top: solid 1px $mid_gray;
            }
        }
    }
}

.full-width { 
    max-width: 100%; 
}

.text-dashboard, .fa-dashboard {
    padding-top: 2.2rem;
    padding-bottom: 1.6rem;
    color: $light_orange;
    background-image: -webkit-linear-gradient(92deg, $light_orange, $light_yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-dashboard { 
    padding: 0; 
    margin-right: 5px; 
}

.admin-title {
    color: $dark_black;
    background-image: -webkit-linear-gradient(92deg, $dark_black, $light_black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 26px;
}

.blue-button {
    background: $colour_5_main; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $colour_5_main 0%, $colour_6_dark 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$colour_5_main), color-stop(100%,$colour_6_dark)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $colour_5_main 0%,$colour_6_dark 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $colour_5_main 0%,$colour_6_dark 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $colour_5_main 0%,$colour_6_dark 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $colour_5_main 0%,$colour_6_dark 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colour_5_main', endColorstr='$colour_6_dark',GradientType=0 ); /* IE6-9 */

    &:hover{
        background: $colour_6_dark; /* Old browsers */
        background-image: -moz-linear-gradient(top,  $colour_6_dark 0%, $colour_7_dark 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$colour_6_dark), color-stop(100%,$colour_7_dark)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top,  $colour_6_dark 0%,$colour_7_dark 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top,  $colour_6_dark 0%,$colour_7_dark 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  $colour_6_dark 0%,$colour_7_dark 100%); /* IE10+ */
        background-image: linear-gradient(to bottom,  $colour_6_dark 0%,$colour_7_dark 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colour_6_dark', endColorstr='$colour_7_dark',GradientType=0 ); /* IE6-9 */
    }
}

.green-button {
    background: $light_green; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $light_green 0%, $mid_green 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$light_green), color-stop(100%,$mid_green)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $light_green 0%,$mid_green 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $light_green 0%,$mid_green 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $light_green 0%,$mid_green 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $light_green 0%,$mid_green 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light_green', endColorstr='$mid_green',GradientType=0 ); /* IE6-9 */

    &:hover{
        background: $mid_green; /* Old browsers */
        background-image: -moz-linear-gradient(top,  $mid_green 0%, $dark_green 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$mid_green), color-stop(100%,$dark_green)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top,  $mid_green 0%,$dark_green 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top,  $mid_green 0%,$dark_green 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  $mid_green 0%,$dark_green 100%); /* IE10+ */
        background-image: linear-gradient(to bottom,  $mid_green 0%,$dark_green 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mid_green', endColorstr='$dark_green',GradientType=0 ); /* IE6-9 */
    }
}

.dark-button {
    background: $light_black; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $light_black 0%, $mid_black 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$light_black), color-stop(100%,$mid_black)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $light_black 0%,$mid_black 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $light_black 0%,$mid_black 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $light_black 0%,$mid_black 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $light_black 0%,$mid_black 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light_black', endColorstr='$mid_green',GradientType=0 ); /* IE6-9 */

    &:hover{
        background: $mid_black; /* Old browsers */
        background-image: -moz-linear-gradient(top,  $mid_black 0%, $dark_black 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$mid_black), color-stop(100%,$dark_black)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top,  $mid_black 0%,$dark_black 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top,  $mid_black 0%,$dark_black 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  $mid_black 0%,$dark_black 100%); /* IE10+ */
        background-image: linear-gradient(to bottom,  $mid_black 0%,$dark_black 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mid_black', endColorstr='$dark_black',GradientType=0 ); /* IE6-9 */
    }
}

.yellow-button {
    background: $light_yellow; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $light_yellow 0%, $mid_yellow 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$light_yellow), color-stop(100%,$mid_yellow)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $light_yellow 0%,$mid_yellow 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $light_yellow 0%,$mid_yellow 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $light_yellow 0%,$mid_yellow 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $light_yellow 0%,$mid_yellow 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light_yellow', endColorstr='$mid_yellow',GradientType=0 ); /* IE6-9 */

    &:hover{
        background: $mid_yellow; /* Old browsers */
        background-image: -moz-linear-gradient(top,  $mid_yellow 0%, $dark_yellow 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$mid_yellow), color-stop(100%,$dark_yellow)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top,  $mid_yellow 0%,$dark_yellow 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top,  $mid_yellow 0%,$dark_yellow 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  $mid_yellow 0%,$dark_yellow 100%); /* IE10+ */
        background-image: linear-gradient(to bottom,  $mid_yellow 0%,$dark_yellow 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mid_yellow', endColorstr='$dark_yellow',GradientType=0 ); /* IE6-9 */
    }
}

.orange-button {
    background: $light_orange; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $light_orange 0%, $mid_orange 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$light_orange), color-stop(100%,$mid_orange)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $light_orange 0%,$mid_orange 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $light_orange 0%,$mid_orange 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $light_orange 0%,$mid_orange 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $light_orange 0%,$mid_orange 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light_orange', endColorstr='$mid_orange',GradientType=0 ); /* IE6-9 */

    &:hover{
        background: $mid_orange; /* Old browsers */
        background-image: -moz-linear-gradient(top,  $mid_orange 0%, $dark_orange 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$mid_orange), color-stop(100%,$dark_orange)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top,  $mid_orange 0%,$dark_orange 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top,  $mid_orange 0%,$dark_orange 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  $mid_orange 0%,$dark_orange 100%); /* IE10+ */
        background-image: linear-gradient(to bottom,  $mid_orange 0%,$dark_orange 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mid_orange', endColorstr='$dark_orange',GradientType=0 ); /* IE6-9 */
    }
}

.delete-button {
    background-color: transparent;
    color: $dark_orange;
    border-color: $dark_orange;

    &:hover, &:focus{
        color: $dark_orange;
        background-color: transparent;
    }
}

.ng-enter {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;    
}
.ng-leave {
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
}
.ng-enter {
    opacity: 0;
}
.ng-enter-active {
    opacity: 1;
}
.ng-leave {
    opacity: 1;
}
.ng-leave-active {
    opacity: 0;
}

/*input[type='search']{ background-color: $light_gray; }*/

.search { 
    position: relative; 
    margin-bottom: 20px;
}

.search input { text-indent: 25px;}

.search .fa-search { 
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 20px;
    color: $colour_5_main;
}

input:checked ~ .switch-paddle { @extend .green-button; }

form i.alert{
    font-size: rem-calc(14);
}

.aside-panel {
    background-color: $light_gray;
    padding: 20px;
}
/* to fix bug with drilldown.js menu */
.is-drilldown {
    width: 100% !important;
    height: auto !important;
}

.input-effects, .input-effects:focus {
    background-color: transparent;
    border: none ;    
    box-shadow: none ;
    border-bottom: solid 1px $mid_gray;
    margin: 0 0 1px !important;
}
.input-effects:focus{ outline:none; }

.input-effects-bar{ 
    position:relative; 
    display:block; 
    margin-bottom: 20px;
}
.input-effects-bar:before, .input-effects-bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background: $colour_7_dark; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.input-effects-bar:before {
    left:50%;
}

.input-effects-bar:after {
    right:50%; 
}

/* active state */
.input-effects:focus ~ .input-effects-bar:before, .input-effects:focus ~ .input-effects-bar:after {
    width:50%;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background: $colour_7_dark; }
    to { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background: $colour_7_dark; }
    to { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background: $colour_7_dark; }
    to { width:0; background:transparent; }
}

@media screen and #{breakpoint(medium)} {
    // Medium and up styles

    .dashboard-menu  {
        top: 0;
        bottom: 0;
        position: fixed;
    }

}