@import 'colours';
@font-face {
    font-family: 'colaborate-thinregular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'colaborate-thinregular';
    font-weight: normal;
    font-size: rem-calc(18);
    line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'colaborate-thinregular';
}

body, html {
   height:100%;
}

a {
    outline:0 none !important;
    color: $colour_5_main;
    &:focus, &:active {
        color: $colour_5_main;
    }
    &:hover {
        color: $colour_7_dark;
    }
}

button {
    &:visited, &:focus, &:active, &:hover{
        outline:0 none !important;        
    }
}
h1 { padding-top: rem-calc(40); }

.text-uppercase { text-transform: uppercase; }

.text-capitalize { text-transform: capitalize; }

.text-underline { text-decoration: underline; }

.text-transform-none { text-transform: none; }

.off-canvas{ background-color: $colour_1_light; }

.off-canvas-wrap {
    .inner-wrap{ min-height: 100vh; }
}

.js-off-canvas-exit { z-index: 10000; }

.main-section {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);
}

.title-bar {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.thumbnail { 
    &:hover, &:focus {
        -webkit-box-shadow: 0px 0px 5px 0px $colour_7_dark_alpha;
        -moz-box-shadow: 0px 0px 5px 0px $colour_7_dark_alpha;
        box-shadow: 0px 0px 5px 0px $colour_7_dark_alpha;       
    }    
}

form {
    .is-invalid-input:not(:focus){ border-color: $colour_5_main; }
    
    /*.ng-invalid:not(:focus){ border-color: $colour_5_main; }*/
}

.success {
    color: $dark_green;
    border-color: $dark_green;
}

.alert {
    color: $colour_5_main;
    border-color:$colour_5_main;
}

.show-all { display: block !important; }

table {
    select, input[type='text'], input[type='email'] {
        margin-bottom: 0;
    }
}
select {
    outline: none;
    box-sizing: border-box;
    border: $fieldset-border;
    box-shadow: $input-shadow;

    &:focus {
        border: $input-border-focus;
        box-shadow: $input-shadow-focus;
        transition: $input-transition;
    }
}

@media screen and #{breakpoint(medium)} {
    // Medium and up styles
    .page-error {
        .row {
            h3 { font-size: rem-calc(56); }
        }
    }
    
    .opaque { 
        background-color: $colour_7_dark_alpha; 
        -webkit-transition: background-color .4s ease-in-out;         
        -moz-transition: background-color .4s ease-in-out; 
        transition: background-color .4s ease-in-out;
    }
    
    .main-section {
        min-height: 100vh;      
        padding-top: rem-calc(100);
        padding-bottom: rem-calc(100);
    }
    .title-bar {
        padding: 1.5rem;
        position: fixed;
    }
}