.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    padding: 12px 16px;
    margin-top: 10px;
    z-index: 1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content { display: block; }
