@font-face {
    font-family: 'archisticonormal';
    src: url('../fonts/Archistico_Simple-webfont.eot');
    src: url('../fonts/Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Archistico_Simple-webfont.woff') format('woff'),
         url('../fonts/Archistico_Simple-webfont.ttf') format('truetype'),
         url('../fonts/Archistico_Simple-webfont.svg#archisticonormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import 'colours';
.page-error{
    .row{
        h3, h4{
            font-family: 'archisticonormal';
            font-size: rem-calc(36);
        }
        h4{
            font-size: rem-calc(20);
        }
    }
}
@media screen and #{breakpoint(medium)} {
    // Medium and up styles    
    .page-error{
        .row{
            h3{
                font-size: rem-calc(56);
            }
            h4{
                font-size: rem-calc(36);                    
            }
        }
    }
    
}