@import 'colours-admin';
.admin-container {
    #feeds {
        background-color: $light_gray;

        .dropdown {
            color: $white;
            @extend .blue-button;
        }

        .dropdown-content {
            color: $colour_6_dark;
            background-color: $light_gray;
            box-shadow: 0px 8px 16px 0px $colour_7_dark_alpha;
            border-left: solid 1px $white;
            border-right: solid 1px $white;
            border-bottom: solid 1px $white;
            p {
                &:hover {
                    background-color: $mid_gray;
                }
            }
        }
    }
}