@import 'colours';
.footer-section{
    background-color: $colour_8_dark;
    border-top: solid 3px $colour_4_mid;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $colour_1_light;
    p{
        span{
            color:$colour_4_mid_alpha;
            text-transform: uppercase;
        }
    }
    a{
        color:$colour_1_light;
        &:hover{
            color:$colour_3_mid;
        }
    }               
}
@media screen and #{breakpoint(medium)} {
    // Medium and up styles
    .footer-section{
        padding-top: 50px;
        padding-bottom: 50px;                  
        .large-centered {
            .row {
                div {
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
}
@media screen and #{breakpoint(large)} {
    .footer-section {
        .large-centered {
            .row {
                div {
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
}