@import 'colours-admin';
.admin-container{
    
    .page-wrap {
        min-height: 100%;
      /* equal to footer height */
        margin-bottom: -160px;

        &:after {
            content: "";
            display: block;
            height: 160px; 
        }
    }
    .footer-admin-section{
        background: $dark_blue;
        background: -moz-linear-gradient(left, $dark_blue 0%, $light_blue 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, $dark_blue), color-stop(100%, $light_blue));
        background: -webkit-linear-gradient(left, $dark_blue 0%, $light_blue 100%);
        background: -o-linear-gradient(left, $dark_blue 0%, $light_blue 100%);
        background: -ms-linear-gradient(left, $dark_blue 0%, $light_blue 100%);
        background: linear-gradient(to right, $dark_blue 0%, $light_blue 100%);
        color: $white;
        -webkit-box-shadow: inset 10px 24px 23px -28px $colour_7_dark_alpha;
        -moz-box-shadow: inset 10px 24px 23px -28px $colour_7_dark_alpha;
        box-shadow: inset 10px 24px 23px -28px $colour_7_dark_alpha;

        a {color: $white;}

        span {
            height: 160px;
            line-height: 160px;
        }
    }
}

@media screen and #{breakpoint(medium)} {
    // Medium and up styles
}
