@import 'colours';
.get-in-touch{
    .row{
        .row{
            .medium-6:first-child {
                p, span{ font-size: rem-calc(30); }  
            }
        }
    }
    form{
        .success, .alert {
            span { font-size: rem-calc(46); }
            p { 
                margin-bottom: 0; 
            }
        }
        .button {
            background-color: $colour_5_main;

            &:hover, &:focus { background-color: $colour_6_dark; }
        }
    }
}
@media screen and #{breakpoint(medium)} {
    // Medium and up styles    
}