@import 'colours';
.header-section{
    height: 200px;
    background: url(../img/pages-background.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-position: center bottom;
    -moz-background-position: center bottom;
    -o-background-position: center bottom;
    background-position: center bottom;
    border-bottom: solid 3px $colour_4_mid;
    
    h1{
        padding-top: 90px;
        text-shadow: 2px 2px 1px $colour_7_dark_alpha;
        color: $colour_1_light;
    }
}

@media screen and #{breakpoint(medium)} {
    // Medium and up styles
    .header-section{
        height: 250px;
        background: url(../img/pages-background.jpg) no-repeat fixed top;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        background-size: 100% auto;
    }
}