@import 'colours-admin';
.header-admin-section, .header-admin-dashboard-section{
    background: $dark_blue;
    background: -moz-linear-gradient(left, $dark_blue 0%, $light_blue 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $dark_blue), color-stop(100%, $light_blue));
    background: -webkit-linear-gradient(left, $dark_blue 0%, $light_blue 100%);
    background: -o-linear-gradient(left, $dark_blue 0%, $light_blue 100%);
    background: -ms-linear-gradient(left, $dark_blue 0%, $light_blue 100%);
    background: linear-gradient(to right, $dark_blue 0%, $light_blue 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark_blue', endColorstr='$light_blue', GradientType=1 );
    color: $white;
    min-height: 3px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    -webkit-box-shadow: 0px 1px 12px 0px $colour_7_dark_alpha;
    -moz-box-shadow: 0px 1px 12px 0px $colour_7_dark_alpha;
    box-shadow: 0px 1px 12px 0px $colour_7_dark_alpha;

    .menu {
        float: right;
    }

    a{
        color: $white;

        &:hover{
            color: $mid_gray;
        }
    }
}


@media screen and #{breakpoint(medium)} {
    // Medium and up styles
}