@import 'colours-admin';
.globe-animation {
    padding-top: 15px;
    background-color: $light_gray;
    height: 180px;

    .fa-globe {
        width: 100%;
        font-size: 8.5em !important;
        padding-right: 1px;
        color: $colour_4_mid;
        background-image: -webkit-linear-gradient(92deg, $colour_4_mid, $colour_7_dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    .globe-animation-effects{
        border: 3px solid $colour_5_main;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        position: relative;
        width: 139px;
        height: 139px;
        bottom: 148px;
        margin: auto;
        -webkit-animation: pulsate 1.5s ease-out;
        -webkit-animation-iteration-count: infinite; 
        -moz-animation: pulsate 1.5s ease-out;
        -moz-animation-iteration-count: infinite; 
        opacity: 0.0;
    }
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
@-moz-keyframes pulsate {
    0% {-moz-transform: scale(1.0, 1.0); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-moz-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@media screen and #{breakpoint(medium)} {
    // Medium and up styles
}