@import 'colours';
.slide{
    width: 100%;
    height: 100vh;
    div{
        display: table;
        width: 100%;
        height: 100vh;
        .middle-slide{
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 100vh;
        }
    }
}
#slide-0 {
    background: $colour_7_dark_alpha url(../img/responsive.jpg) no-repeat center center; 
}
#slide-1 {
    background: $colour_7_dark_alpha url(../img/modern.jpg) no-repeat center center;
}
#slide-2 {
    background: url(../img/retina.jpg) no-repeat center center;
}
#slide-0, #slide-1, #slide-2{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cycle-slide{
    @extend .large-12;
    @extend .columns;
    @extend .text-center;
    text-shadow: 2px 2px 1px $colour_7_dark_alpha;
    color: $colour_1_light;
    h1{
        font-size: rem-calc(48);
//        margin-top: 25%;
    }
    p{
        font-size: rem-calc(20);    
    }
}
.services, .technology{
    .row{
        .row{
            .row{
                min-height: 196px;
            }
        }
    }
    h1, .fa{
        color: $colour_5_main;
    }
    hr{
        width: 100px;
    }
    .fa{
        font-size: rem-calc(100) !important; 
    }
    h3{
        color: $colour_7_dark_alpha;
    }
}
.technology{
    background-color: $colour_2_light_alpha;
}
$pie-color: $colour_5_main;

@media screen and #{breakpoint(medium)} {
    // Medium and up styles
    .cycle-slide{
        h1{
            font-size: rem-calc(118);
//            margin-top: 15%;
        }
        p{
            font-size: rem-calc(44);    
        }
    }
}