.login {    
    padding-top: 60px;
    margin-bottom: 60px;
    .left-panel {
        i {
            font-size: rem-calc(56) !important;
            width: inherit;
        }
    }
    hr {
        margin: 0.35rem auto;
    }
    button {
        width: 100%;
    }

}

@media screen and #{breakpoint(medium)} {
    // Medium and up styles    
    .login {
        .callout {
            padding-top: 1px;
            padding-bottom: 1px;
        }
        .left-panel{
            background-color: $light_gray;

            span, i {
                color: $dark_black;
                background-image: -webkit-linear-gradient(92deg, $dark_black, $light_black);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            } 
        }
        .left-panel, .right-panel {
            display: table;
            width: 50%;
            height: 360px;

            .left-panel-inner, .right-panel-inner {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}