@import 'colours';
.header-posts {
    height: 50px;
    -webkit-background-position: center top;
    -moz-background-position: center top;
    -o-background-position: center top;
    background-position: center top;
}
.main-section.posts {
    padding-top: 0;
}
.posts {
    h1 {
        font-weight: bold;
        padding-bottom: 2.0rem;
        text-shadow: 2px 2px 1px $colour_1_light;
    }
    ul {
        list-style: none;
        margin-left: 0;
    }
    li {
        border-bottom:solid 1px $colour_4_mid;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    li:before {
        content: "\f054";
        font-family: FontAwesome;
        display: inline-block;
        width: 1.3em;
        color: $colour_5_main;
    }
    article, aside {
        padding-top: 30px;
    }
    aside {
        color: $colour_5_main;
        span {
            font-weight: bold;
        }
    }
    img {
        -webkit-box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
        -moz-box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;
        box-shadow: 0px 5px 5px -4px $colour_7_dark_alpha;    
        
    }
    .post-title {
        background-color: $colour_2_light;
        border-bottom: solid 3px $colour_4_mid;
        line-height: rem-calc(48);
    }
    .post-date {
        font-size: rem-calc(14);
        color: $colour_7_dark_alpha;
    }
}
@media screen and #{breakpoint(medium)} {
    // Medium and up styles    
    .header-posts {
        height: 250px;
    }

}
