@import 'colours';
.projects{
    .thumbnail{
        height: 176px;
    }
}
.reveal{
    .close-button{
        top: 0.7rem;
        span{
            font-size: rem-calc(46);
        }
    }
    h1{
        padding-top: 0;
        font-size: rem-calc(26);
    }
}
// heartbeat
.heart {
    -webkit-animation: beat .80s infinite alternate;
    -moz-animation: beat .80s infinite alternate;
    -ms-animation: beat .80s infinite alternate;
    -o-animation: beat .80s infinite alternate;
    animation: beat .80s infinite alternate;

    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);
    .fa-heart{
    	font-size: 120px !important;
        color: $colour_5_main;
        text-shadow: 1px 1px 1px $colour_7_dark_alpha;
    }
}


@keyframes "beat" {
    to {
        -webkit-transform: scale(1.4);
    	-moz-transform: scale(1.4);
    	-o-transform: scale(1.4);
    	-ms-transform: scale(1.4);
    	transform: scale(1.4);
    }
}

@-moz-keyframes beat {
    to {
        -moz-transform: scale(1.4);
        transform: scale(1.4);
    }
}

@-webkit-keyframes "beat" {
    to {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}

@-ms-keyframes "beat" {
    to {
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }
}

@-o-keyframes "beat" {
    to {
        -o-transform: scale(1.4);
        transform: scale(1.4);
    }

}
@media screen and #{breakpoint(medium)} {
    // Medium and up styles    
    .projects{
        .thumbnail{
            height: 200px;
        }
    }
}