@import 'colours-admin';

.profile-picture {
    margin-top: 1.0rem;
    margin-bottom: 1.6rem;
    width:200px;
    height:200px;
    @extend .thumbnail-radius-custom;

}
.aside-panel {
    .fileUpload {
        margin-top: 25px;
    }
}

@media screen and #{breakpoint(medium)} {
    // Medium and up styles    

}
