<div class="admin-title text-uppercase">
    <i class="{{ pageSettings.icon }}"></i>
    <span class="text-decoration-underline">{{ 'language.title' | translate }}</span>
</div>
<div class="columns small-12 medium-6 medium-pull-6 large-3 large-pull-9">
    <h5 class="text-uppercase">{{ 'language.description' | translate }}</h5>
    <!-- implement locale-selector.html -->
    <div class="locale-selector"></div>
    <span class="input-effects-bar"></span>
</div>
