<select class="input-effects" ng-change="setLocale()" ng-model="locale">
    <option value="en" ng-selected="locale == 'en'">
        {{ 'languageNames.en' | translate }}
    </option>
    <option value="pt" ng-selected="locale == 'pt'">
        {{ 'languageNames.pt' | translate }}
    </option>
</select>
