<h3 class="admin-title text-uppercase"><i class="{{ pageSettings.icon }}"></i><span>{{ pageSettings.title }}</span></h3>
<hr>
<form method="post" data-abide novalidate>
    <span class="text-center callout hide" ng-class="showClass">{{ message }}</span>
    
</form>