        <footer class="footer-section">
            <div class="row">
                <div class="large-9 large-centered columns">
                    <div class="row">
                        <div class="medium-4 columns">
                            <p></p>
                            <p><span>Developed by:</span></p>
                            <p><a href="http://luisschneiders.com" target="_blank">Luis Fernando Schneiders</a></p>
                        </div>
                        <div class="medium-4 columns">
                            <p></p>
                            <p><span>Developed with:</span></p>
                            <p><a href="http://foundation.zurb.com" target="_blank">Foundation Framework 6</a></p>
                            <p><a href="https://nodejs.org/en/" target="_blank">Node.js</a> | <a href="https://angularjs.org" target="_blank">Angular.js</a> | <a href="https://www.mongodb.org" target="_blank">MongoDB</a></p>
                        </div>
                        <div class="medium-4 columns">
                            <p></p>
                            <p><span>Web Hosting:</span></p>
                            <p><a href="https://aws.amazon.com" target="_blank">Amazon Web Services</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/what-input/what-input.min.js"></script>
    <script src="/foundation-sites/dist/foundation.min.js"></script>
    <script src="/js/min/app-min.js"></script>
    <script>
        $(window).scroll(function() {
            if($(this).scrollTop() > 200) {
                $('.title-bar').addClass('opaque');
            } else {
                $('.title-bar').removeClass('opaque');
            }
        });
    </script>
    <script>
        // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        // ga('create', 'UA-72807440-1', 'auto');
        // ga('send', 'pageview');
    </script>    
