    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <meta name="description" content="<%= listPostByID[0].post_description %>">
    <meta name="keywords" content="<%= listPostByID[0].post_keywords %>">
    <meta name="author" content="Luis Fernando Schneiders"> 
    <link rel="shortcut icon" href="/img/icon.png" />
    <link rel="canonical" href="<%= contentSEO.mySite %><%= contentSEO.currentPage %>">
    <link rel="apple-touch-icon" href="/img/wordpress-developer-mobile-application-in-melbourne.png">
    <title><%= contentSEO.title %> | Luis Fernando Schneiders</title>
    <link rel="stylesheet" href="../css/app.css">