    <div class="off-canvas-wrapper">
        
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="title-bar">
                <div class="title-bar-left">
                    <span class="title-bar-title"><a href="/" title="Home"><img src="/img/luis-fernando-schneiders-nodejs-web-developer.svg" alt="Luis Fernando Schneiders is nodejs developer and wordpress developer"></a></span>
                </div>
                <div class="title-bar-right">
                    <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
                </div>
            </div>        
<!--            <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas></div>-->
            <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
                <ul class="menu vertical text-center text-uppercase">
                    <% for( var i = 0; i < contentHeader.menu.length; i++) { %>
                        <li><a href="<%= contentHeader.menu[i].url %>"><%= contentHeader.menu[i].description %></a></li>
                    <% } %>
                    <li>
                        <a aria-label="Close menu" type="button" data-close="">
                           <span aria-hidden="true">Close</span>
                        </a>
                    </li>
                </ul>                
            </div>
