    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <meta name="description" content="Angular.js and Wordpress developer based in Melbourne. I specialise in creating websites that look great no matter the device your visitors are using.">
    <meta name="keywords" content="MEAN.js developer Melbourne, Wordpress developer Melbourne, mobile application developer, Angular.js developer Sydney, HTML5, CSS3, Content Management System, PHP, SEO, awesome responsive websites, frontend and backend developer, Foundation framework, Bootstrap framework, MEAN.js developer Sydney, Wordpress developer Sydney, Angular.js developer Melbourne">
    <meta name="author" content="Luis Fernando Schneiders"> 
    <link rel="shortcut icon" href="/img/icon.png" />
    <link rel="canonical" href="<%= contentSEO.mySite %><%= contentSEO.currentPage %>">
    <link rel="apple-touch-icon" href="/img/wordpress-developer-mobile-application-in-melbourne.png">
    <title><%= contentSEO.title %> | Luis Fernando Schneiders</title>
    <link rel="stylesheet" href="../css/app.css">