<div class="small-12 large-9 columns">
    <h3 class="text-center admin-title">{{ 'homePage.description' | translate }}</h3>
</div>
<div class="columns small-12 large-3 globe-animation text-center">
    <i class="fa fa-globe"></i>
    <div class="globe-animation-effects"></div>
</div>
<div id="feeds" class="small-12 large-3 columns" ng-include="'/feeds/feeds.html'"></div>
