<div class="admin-title text-uppercase">
    <i class="{{ pageSettings.icon }}"></i>
    <span class="text-decoration-underline">{{ 'users.titleEditUser' | translate }}:
        <strong> {{ listuserdetails.data.user_name }} </strong>
    </span>
</div>
<span class="text-center callout hide" ng-class="showClass">{{ message }}</span>
<form name="userForm" novalidate >
    <div class="columns large-6">
        <h5 class="text-uppercase">{{ 'users.txtDetails' | translate }}:</h5>    
        <div class="row">
            <div class="large-12 columns" >
                <label>
                    <span class="text-capitalize">
                        <i class='alert' ng-show="userForm._id.$invalid">{{ 'users.txtRequired' | translate }}</i>
                    </span>
                    <input 
                        class="input-effects"
                        type="hidden" 
                        name="user_id"
                        ng-model="listuserdetails.data._id" 
                        required >
                    <span class="input-effects-bar"></span>
                </label>
            </div>
            <div class="large-6 columns" >
                <label>
                    <span class="text-capitalize">{{ 'users.fName' | translate }}
                        <i class='alert' ng-show="userForm.user_first_name.$invalid">{{ 'users.txtRequired' | translate }}</i>
                    </span>
                    <input 
                        class="input-effects text-capitalize"
                        type="text" 
                        name="user_first_name"
                        placeholder="{{ 'users.fName' | translate }}" 
                        ng-model="listuserdetails.data.user_first_name" 
                        required >
                    <span class="input-effects-bar"></span>
                </label>
            </div>
            <div class="large-6 columns ">
                <label>
                    <span class="text-capitalize">{{ 'users.mName' | translate }}</span>
                    <input 
                        class="input-effects text-capitalize"
                        type="text" 
                        name="user_middle_name"
                        placeholder="{{ 'users.mName' | translate }}" 
                        ng-model="listuserdetails.data.user_middle_name">
                    <span class="input-effects-bar"></span>
                </label>
            </div>
            <div class="large-6 columns">
                <label>
                    <span class="text-capitalize">{{ 'users.lName' | translate }}
                        <i class='alert' ng-show="userForm.user_last_name.$invalid">{{ 'users.txtRequired' | translate }}</i>
                    </span>
                    <input 
                        class="input-effects text-capitalize"
                        type="text" 
                        name="user_last_name"
                        placeholder="{{ 'users.lName' | translate }}" 
                        ng-model="listuserdetails.data.user_last_name"
                        required >
                    <span class="input-effects-bar"></span>
                </label>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="large-6 columns">
                        <label>
                            <span class="text-capitalize">{{ 'users.txtEmail' | translate }}
                                <i class='alert' ng-show="userForm.user_email.$invalid">{{ 'users.txtInvalid' | translate }}</i>
                            </span>
                            <input 
                                class="input-effects"
                                type="email" 
                                name="user_email"
                                placeholder="{{ 'users.txtEmail' | translate }}" 
                                ng-model="listuserdetails.data.user_email"
                                required >
                            <span class="input-effects-bar"></span>
                        </label>
                    </div>
                    <div class="large-6 columns">
                        <label><span class="text-capitalize">{{ 'users.txtRole' | translate }}</span>
                            <select 
                                class="input-effects"
                                ng-model="listuserdetails.data.user_role ">
                                <option ng-repeat="role in listallroles" 
                                        ng-if="role.role == 'admin'"  value="{{ role.role }}">{{ 'users.roleAdmin' | translate }}
                                </option>
                                <option ng-repeat="role in listallroles" 
                                        ng-if="role.role == 'author'"  value="{{ role.role }}">{{ 'users.roleAuthor' | translate }}
                                </option>
                                <option ng-repeat="role in listallroles" 
                                        ng-if="role.role == 'editor'"  value="{{ role.role }}">{{ 'users.roleEditor' | translate }}
                                </option>
                            </select>
                            <span class="input-effects-bar"></span>
                        </label>
                    </div>
                </div>                    
            </div>
            <div class="small-6 columns text-left">
                <button type="submit" class="medium button text-uppercase delete-button" ng-click="deleteUser()">
                {{ 'users.btnDelete' | translate }}<i class="fa fa-close"></i>
                </button>
            </div>
            <div class="small-6 columns text-right">
                <button 
                    type="submit" 
                    class="medium button text-uppercase blue-button" 
                    ng-click="updateUser()"
                    ng-disabled="   userForm.user_first_name.$invalid || 
                                    userForm.user_middle_name.$invalid || 
                                    userForm.user_last_name.$invalid ||
                                    userForm.user_email.$invalid ||
                                    userForm.user_role.$invalid" 
                    >{{ 'users.btnUpdate' | translate }}<i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>
</form>
<form action="/upload" name="userImageForm" method="POST" enctype="multipart/form-data">
    <div class="columns large-6">
        <aside class="aside-panel text-center">
            <img class="thumbnail profile-picture" ng-show="userImageForm.file.$valid" ngf-thumbnail="user_image"> 
            <div>
                <button ng-click="user_image = null" ng-show="user_image" class="medium text-uppercase delete-button">{{ 'users.btnDelete' | translate }}
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="row">
                <div class="columns large-6">
                    <label for="user_image" class="fileUpload button blue-button text-uppercase">
                        {{ 'users.btnImage' | translate }}<i class="fa fa-picture-o"></i>
                    </label>
                    <input  type="file" 
                            id="user_image" 
                            name="user_image"
                            ng-model="user_image"
                            class="show-for-sr" 
                            ngf-select    
                            accept="image/*" ngf-max-size="2MB"
                            ngf-model-invalid="errorFile">
               </div>
               <div class="columns large-6">
                    <button 
                        type="submit" 
                        class="fileUpload medium button text-uppercase blue-button" 
                        ng-click="uploadPicture(user_image, listuserdetails.data._id)"
                        ng-disabled="userImageForm.user_image.$invalid" 
                        >{{ 'users.btnSubmit' | translate }}<i class="fa fa-check"></i>
                    </button>
                    <span class="progress" ng-show="user_image.progress >= 0">
                        <div style="width:{{user_image.progress}}%" 
                        ng-bind="user_image.progress + '%'"></div>
                    </span>
                    <span ng-show="user_image.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>                        
               </div>
            </div>
        </aside>
    </div>
</form>
