<div class="admin-title text-uppercase">
    <i class="{{ pageSettings.icon }}"></i><span class="text-decoration-underline">{{ 'users.titleListUsers' | translate }}</span>
</div>
<form method="post" name="formAddUser" novalidate>
<span class="text-center callout hide" ng-class="showClass">{{ message }}</span>
<div class="search medium-6 medium-centered columns">
    <i class="fa fa-search"></i>
    <input type="search" ng-model="search" class="search-query text-capitalize input-effects" placeholder="{{ 'users.fieldSearch' | translate }} {{ 'users.titleListUsers' | translate }}...">
    <span class="input-effects-bar"></span>
</div>
<table class="stack text-capitalize" role="grid" width="100%">
    <thead>
        <tr>
            <th width="20%"><a ng-click="order('user')">{{ 'users.txtUser' | translate }} <i class="fa fa-unsorted" ng-show="predicate === 'user'" ng-class="{reverse:reverse}"></i></a></th>
            <th width="30%"><a ng-click="order('email')">{{ 'users.txtEmail' | translate }} <i class="fa fa-unsorted" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></i></a></th>
            <th width="15%"><a ng-click="order('role')">{{ 'users.txtRole' | translate }} <i class="fa fa-unsorted" ng-show="predicate === 'role'" ng-class="{reverse:reverse}"></i></a></th>
            <th width="10%"><a ng-click="order('status')">{{ 'users.txtStatus' | translate }} <i class="fa fa-unsorted" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></i></a></th>
            <th width="15%" class="text-right">{{ 'users.txtAction' | translate }} </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label class="label-input">
                    <input class="input-effects" type="text" name="{{ formCtrl.username }}" ng-model="user.username"  placeholder="{{ 'users.txtUser' | translate }}" required >
                    <span class="input-effects-bar"></span>
                </label>
            </td>
            <td>
                <label class="label-input">
                    <input class="input-effects" type="email" name="{{ formCtrl.email }}" ng-model="user.email" placeholder="{{ 'users.txtEmail' | translate }}" required >
                    <span class="input-effects-bar"></span>
                </label>
            </td>
            <td>
                <label class="label-input">
                    <select class="input-effects" name="{{ formCtrl.role }}" ng-model="user.role" required >
                        <option ng-repeat="role in listallroles" 
                                ng-if="role.role == 'admin'"  value="{{ role.role }}">{{ 'users.roleAdmin' | translate }}
                        </option>
                        <option ng-repeat="role in listallroles" 
                                ng-if="role.role == 'author'"  value="{{ role.role }}">{{ 'users.roleAuthor' | translate }}
                        </option>
                        <option ng-repeat="role in listallroles" 
                                ng-if="role.role == 'editor'"  value="{{ role.role }}">{{ 'users.roleEditor' | translate }}
                        </option>
                    </select>
                    <span class="input-effects-bar"></span>
                </label>
            </td>
            <td>
                <label class="label-input">
                    <select class="input-effects" name="{{ formCtrl.status }}" ng-model="user.status" required >
                        <option ng-repeat="status in listallstatus" 
                                ng-if="status.status == 'active'" value="{{ status.status }}">{{ 'users.txtActive' | translate }}
                        </option>
                        <option ng-repeat="status in listallstatus" 
                                ng-if="status.status == 'inactive'" value="{{ status.status }}">{{ 'users.txtInactive' | translate }}
                        </option>
                    </select>
                    <span class="input-effects-bar"></span>
                </label>
            </td>
            <td class="text-right">
                <button type="submit" class="small button text-uppercase blue-button" ng-click="addNewUser()">
                    {{ 'users.btnAdd' | translate }}<i class="fa fa-plus"></i>
                </button>
            </td>
        </tr>
        <tr ng-repeat="user in listallusers.data | orderBy:predicate:reverse | filter: search">
            <td class="text-transform-none">{{ user.user_name }}</td>
            <td class="text-transform-none">{{ user.user_email }}</td>
            <td ng-if="user.user_role == 'admin'">{{ 'users.roleAdmin' | translate }}</td>
            <td ng-if="user.user_role == 'author'">{{ 'users.roleAuthor' | translate }}</td>
            <td ng-if="user.user_role == 'editor'">{{ 'users.roleEditor' | translate }}</td>
            <td>
                <span ng-if="user.user_status == 'active'">{{ 'users.txtActive' | translate }}</span>
                <span ng-if="user.user_status == 'inactive'">{{ 'users.txtInactive' | translate }}</span>
                <div class="switch small">
                    <input class="switch-input" id="{{user._id}}" type="checkbox" ng-model="user.user_status" ng-change="updateStatus('{{user._id}}', '{{user.user_status}}')" ng-true-value="'active'" ng-false-value="'inactive'">
                    <label class="switch-paddle" for="{{user._id}}">
                        <span class="show-for-sr" ng-if="user.user_status == 'active'">{{ 'users.txtActive' | translate }}</span>
                        <span class="show-for-sr" ng-if="user.user_status == 'inactive'">{{ 'users.txtInactive' | translate }}</span>
                    </label>
                </div>
            </td>
            <td class="text-right">
                <a href="#/getuser/{{user._id}}" ng-model="user._id"  class="small button text-uppercase blue-button">
                {{ 'users.btnEdit' | translate }}<i class="fa fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
</form>