<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <div class="off-canvas-content" data-off-canvas-content>
        <section class="header-section text-uppercase text-center">
            <div class="row">
                <div class="large-9 large-centered columns">
                    <h1>Error 404...</h1>
                </div>
            </div>
        </section>
        <section class="main-section  page-error">
            <div class="row">
                <div class="large-9 large-centered columns text-center">
                    <div class="callout">
                        <h3>This page was not found!</h3>
                        <p>Take me to the <a href="/"> Home Page! </a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>