<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <div class="off-canvas-content" data-off-canvas-content>
        <section class="header-section text-uppercase text-center">
            <div class="row">
                <div class="large-9 large-centered columns">
                    <h1>Error 500...</h1>
                </div>
            </div>
        </section>
        <section class="main-section  page-error">
            <div class="row">
                <div class="large-9 large-centered columns text-center">
                    <div class="callout">
                        <h4>There was a problem serving the requested page</h4>
                        <p>Usually this means that an unexpected error happened while processing your request. </p>
                        <p>Please refresh the page, the problem may be temporary.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>