<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <% include ../partials/header %>
    <div class="off-canvas-content" data-off-canvas-content>
        <section class="header-section text-uppercase text-center">
            <div class="row">
                <div class="large-9 large-centered columns">
                    <h1><%= contentHeader.menu[3].description %></h1>
                </div>
            </div>
        </section>
        <section class="main-section blog">
            <div class="row">
                <div class="large-9 large-centered columns ">
                    <div class="row small-up-1 medium-up-2 large-up-3">
                    <% for ( var i = 0; i < listAllPosts.length; i++) { %>
                        <div class="columns large-4">
                            <a href="/blog/<%= listAllPosts[i].post_url %>" >
                                <div class="columns large-12 text-left list-all-blogs">
                                    <p><h3><%= listAllPosts[i].post_title %></h3></p>
                                    <p>
                                        <img src="/uploads/blog/<%= listAllPosts[i].post_media %>" alt="<%= listAllPosts[i].post_title %>" >
                                    </p>
                                        <p class="blog-content"><%= listAllPosts[i].post_content %></p>
                                </div>
                            </a>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </section>
<!-- footer     -->
    <% include ../partials/footer %>
    <% include ./../../app/helpers/blog.js %>
    </div>
</body>
</html>