<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <% include ../partials/header %>
    <div class="off-canvas-content" data-off-canvas-content>
        <section class="header-section text-uppercase text-center">
            <div class="row">
                <div class="large-9 large-centered columns">
                    <h1><%= contentHeader.menu[2].description %></h1>
                </div>
            </div>
        </section>
        <section class="main-section get-in-touch">
            <div class="row">
                <div class="large-9 large-centered columns">
                    <div class="row">
                        <div class="medium-6 columns">
                            <p>"Have <span id='typed-idea' style='white-space:pre;'></span>
                             <br>that you’re interested in discussing with me? Drop me a line, I’d love to help you."</p>
                        </div>
                        <div class="medium-6 columns">
                            <form method="post" action="/get-in-touch" data-abide novalidate >
                                <div class="callout <%= emailConfig.displayClass %>" data-closable="slide-out-right">
                                    <p class="text-left"><i class="fa fa-send"></i> <%= emailConfig.status %></p>
                                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div data-abide-error class="alert callout" style="display: none;">
                                    <p><i class="fa fa-warning"></i> <%= emailConfig.msg %></p>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>
                                            <input type="hidden" placeholder="Enter your company name" name="company" id="company" >
                                        </label>
                                    </div>
                                    <div class="medium-12 columns">
                                        <label>
                                            <input type="text" placeholder="Enter your name" name="name" value="<% if(typeof name !== 'undefined'){ %><%= name %><% } %>" required>
                                        </label>
                                    </div>
                                    <div class="medium-12 columns">
                                        <label>
                                            <input type="email" placeholder="Enter your email" name="email" value="<% if(typeof email !== 'undefined'){ %><%= email %><% } %>" required>
                                        </label>
                                    </div>
                                    <div class="medium-12 columns">
                                        <label>
                                            <input type="text" placeholder="Subject" name="subject" value="<% if(typeof subject !== 'undefined'){ %><%= subject %><% } %>" required>
                                        </label>
                                    </div>
                                    <div class="medium-12 columns">
                                        <label>
                                            <textarea placeholder="What's in your mind?" rows="4" name="message" id="message" required><% if(typeof message !== 'undefined'){ %><%= message %><% } %></textarea>
                                        </label>                                    
                                    </div>
                                    <div class="medium-12 columns text-right">
                                        <button type="submit" class="large button text-uppercase ">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- footer     -->
    <% include ../partials/footer %>
    </div>
<!-- scripts    -->
    <script src="/js/typed.js"></script>
    <% include ./../../app/helpers/get-in-touch.js %>
</body>
</html>