<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <meta name="google-site-verification" content="bDt5c9jYMSXyuPKB12V1l1hfYZZiul3Px-bkn7RhHOA" />
</head>
<body>
    <% include ../partials/header %>
    <div class="off-canvas-content" data-off-canvas-content>
        <section class="text-uppercase">
            <div class="cycle-slideshow cycle-overlay" data-cycle-slides="> div" data-cycle-timeout=4000 data-cycle-speed=1600 >
                <div id="slide-0" class="slide cycle-overlay" data-cycle-title="<section class='middle-slide'><%= contentIndex.index[0].title1 %><%= contentIndex.index[0].description1 %> </section>" data-cycle-desc=""></div>
                <div id="slide-1" class="slide cycle-overlay" data-cycle-title="<section class='middle-slide'><%= contentIndex.index[0].title2 %><%= contentIndex.index[0].description2 %> </section>" data-cycle-desc=""></div>
                <div id="slide-2" class="slide cycle-overlay" data-cycle-title="<section class='middle-slide'><%= contentIndex.index[0].title3 %><%= contentIndex.index[0].description3 %> </section>" data-cycle-desc=""></div>
            </div>           
        </section>
<!-- services       -->
        <section class="services">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <h1 class="text-center text-uppercase"><%= contentIndex.index[1].title1 %></h1>
                            <hr>
                            <h2 class="text-center"><%= contentIndex.index[2].title1 %></h2>
                            <div class="row">
                                <div class="large-6 columns">
                                    <div class="row">
                                        <div class="small-4 columns text-center">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="small-8 columns">
                                            <h3><%= contentIndex.index[3].title1 %></h3>
                                            <p><%= contentIndex.index[3].description1 %></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-6 columns">
                                    <div class="row">
                                        <div class="small-4 columns text-center">
                                            <i class="fa fa-mobile"></i>
                                        </div>
                                        <div class="small-8 columns">
                                            <h3><%= contentIndex.index[3].title2 %></h3>
                                            <p><%= contentIndex.index[3].description2 %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-6 columns">
                                    <div class="row">
                                        <div class="small-4 columns text-center">
                                            <i class="fa fa-code"></i>
                                        </div>
                                        <div class="small-8 columns">
                                            <h3><%= contentIndex.index[3].title3 %></h3>
                                            <p><%= contentIndex.index[3].description3 %></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-6 columns">
                                    <div class="row">
                                        <div class="small-4 columns text-center">
                                            <i class="fa fa-share-alt"></i>
                                        </div>
                                        <div class="small-8 columns">
                                            <h3><%= contentIndex.index[3].title4 %></h3>
                                            <p><%= contentIndex.index[3].description4 %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- technology        -->
        <section class="technology">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <h1 class="text-center text-uppercase"><%= contentIndex.index[1].title2 %></h1>
                            <hr>
                            <h2 class="text-center"><%= contentIndex.index[2].title2 %></h2>
                            <div class="row">
                                <div class="small-6 medium-3 columns text-center">
                                    <div id="svg-php"></div>
                                    <ul data-pie-id="svg-php" data-options='{"donut":"true", "animation_type": "backout"}'>
                                        <li data-value="<%= contentIndex.index[4].percentage1 %>"><%= contentIndex.index[4].technology1 %></li>
                                        <li data-value="<%= contentIndex.index[4].percentage5 %>"></li>
                                    </ul>
                                </div>
                                <div class="small-6 medium-3 columns text-center">
                                    <div id="svg-javascript"></div>
                                    <ul data-pie-id="svg-javascript" data-options='{"donut":"true", "animation_type": "backout"}'>
                                        <li data-value="<%= contentIndex.index[4].percentage2 %>"><%= contentIndex.index[4].technology2 %></li>
                                        <li data-value="<%= contentIndex.index[4].percentage6 %>"></li>
                                    </ul>
                                </div>
                                <div class="small-6 medium-3 columns text-center">
                                    <div id="svg-framework"></div>
                                    <ul data-pie-id="svg-framework" data-options='{"donut":"true", "animation_type": "backout"}'>
                                        <li data-value="<%= contentIndex.index[4].percentage3 %>"><%= contentIndex.index[4].technology3 %></li>
                                        <li data-value="<%= contentIndex.index[4].percentage7 %>"></li>
                                    </ul>
                                </div>
                                <div class="small-6 medium-3 columns text-center">
                                    <div id="svg-html5css3"></div>
                                    <ul data-pie-id="svg-html5css3" data-options='{"donut":"true", "animation_type": "backout"}'>
                                        <li data-value="<%= contentIndex.index[4].percentage4 %>"><%= contentIndex.index[4].technology4 %></li>
                                        <li data-value="<%= contentIndex.index[4].percentage8 %>"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- footer     -->
    <% include ../partials/footer %>
    </div>
<!-- scripts    -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/jquery.cycle2.min.js"></script>
    <script src="/js/pizza.min.js"></script>
    <script src="/js/pie.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/dependencies.js"></script>
    <script>
        Pizza.init();
    </script>
</body>
</html>