<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head-posts %>
</head>
<body class="container">
    <% include ../partials/header %>
    <div class="off-canvas-content" data-off-canvas-content>
        <section class="header-section text-uppercase text-center header-posts">
        </section>
        <section class="main-section posts">
            <div class="post-title text-center text-uppercase">
                <div class="row">
                    <div class="large-9 large-centered columns">
                        <h1><%= listPostByID[0].post_title %></h1>
                    </div>
                </div>
            </div>                            
            <div class="row">
                <div class="large-9 large-centered columns">
                    <div class='row'>
                        <article class="columns small-12 medium-8 large-8">
                        <% for( var i = 0; i < listPostByID.length; i++) { %>
                            <img src="/uploads/blog/<%= listPostByID[i].post_media %>" alt="<%= listPostByID[i].post_title %>" >
                            <p><span class="post-date">Posted on <%= listPostByID[i].post_date.toDateString() %></span></p>
                            <% for (var paragraph in listPostByID[i].post_content) { %>
                                <p class="blog-content"><%= listPostByID[i].post_content[paragraph] %></p>
                            <% } %>
                        <% } %>
                        </article>
                        <aside class="columns small-12 medium-4 large-3">
                            <span class="text-uppercase">Recent Posts</span>
                            <p>
                                <ul>
                                <% for( var i = 0; i < listRecentPosts.length; i++) { %>
                                    <a href="<%= listRecentPosts[i].post_url %>"><li><%= listRecentPosts[i].post_title %></li></a>
                                <% } %>
                                </ul>
                            </p>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
<!-- footer     -->
    <% include ../partials/footer %>
    </div>
</body>
</html>