<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <% include ../partials/header %>
    <div class="off-canvas-content" data-off-canvas-content>
        <section class="header-section text-uppercase text-center">
            <div class="row">
                <div class="large-9 large-centered columns">
                    <h1><%= contentHeader.menu[1].description %></h1>
                </div>
            </div>
        </section>
        <section class="main-section projects">
            <div class="row">
                <div class="large-9 large-centered columns">
                    <div class="row text-center">
                        <div class="large-6 columns">
                            <div class="heart">
                                <i class="fa fa-heart"></i>
                            </div>
                            <span>New project coming soon!</span>
                        </div>
                        <% for( var i = 0; i < contentProjects.projects.length; i++) { %>
                            <div class="large-6 columns">
                                <a data-open="modal" onclick="createModal('<%= contentProjects.projects[i].img %>', '<%= contentProjects.projects[i].alt %>', '<%= contentProjects.projects[i].description %>', '<%= contentProjects.projects[i].link %>', '<%= contentProjects.projects[i].link_description %>')">
                                    <img class="thumbnail" src="<%= contentProjects.projects[i].img %>" alt="<%= contentProjects.projects[i].alt %>">
                                </a>
                            </div>
                        <% } %>
                </div>
            </div>
        </section>
        <div class="full reveal" id="modal" data-reveal></div>
        <% include ../partials/footer %>
        <% include ./../../app/helpers/projects.js %>        
    </div>
</body>
</html>