<aside class="row" ng-controller="FeedCtrl">
    <div class="small-12 columns">
        <section>
            <form>
                <p tabindex="-1">{{ 'feeds.feedsFrom' | translate }}: {{loadButtonText}}</p>
                <!-- <input type="text" autocomplete="off" placeholder="Enter Feed URL" data-ng-model="feedSrc" /> -->
                <div class="dropdown text-center">
                    <span>{{ 'feeds.selectInput' | translate }} <i class="fa fa-chevron-down"></i></span>
                    <div class="dropdown-content">
                        <p ng-click="feedSrc='http://rss.cnn.com/rss/cnn_topstories.rss';loadFeed($event);">CNN</p>
                        <p ng-click="feedSrc='https://news.google.com/news?cf=all&hl=en&pz=1&ned=au&topic=tc&output=rss';loadFeed($event)">Google News</p>
                        <p ng-click="feedSrc='http://feeds.theage.com.au/rssheadlines/top.xml';loadFeed($event)">The Age</p>
                        <p ng-click="feedSrc='http://feeds.wired.com/wired/index';loadFeed($event)">Wired</p>
                    </div>
                </div>
                <div ng-show="feeds.length > 0">
                    <input type="text" placeholder="Search" data-ng-model="filterText" />
                </div>
            </form>
            <span class="badge blue-button" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
        </section>
        <section ng-repeat="feed in feeds | filter:filterText">  
            <h5><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h5>                                        
            <p class="text-left">{{feed.contentSnippet}}</p>                    
            <span>{{feed.publishedDate}}</span>
            <hr>
        </section>                
    </div>
</aside>