    <footer class="footer-admin-section">
        <div class="row">
            <div class="large-9 large-centered columns text-center">
                <!-- <span>Powered by <img src="/img/admin/schneiders-tech.svg" alt="Schneiders Tech Logo" width="160" height="160"></span> -->
                <span>Powered with 
                    <img src="/img/admin/angularjs.png" alt="Angular.js Logo">
                </span>
            </div>
        </div>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/what-input/what-input.min.js"></script>
    <script src="/foundation-sites/dist/foundation.min.js"></script>
    <script src="/js/min/app-min.js"></script>
