        <header class="header-admin-section small-12 columns">
            <ul class="menu horizontal">
                <li>
                    <i class="fa fa-user"></i><span class="text-capitalize">{{ 'nav.greeting' | translate }}, <%= userLogged.user_name %></span>
                </li>
                <li>
                    <a href="/admin/logout" class="drilldown-back"><i class="fa fa-sign-out"></i><span>{{ 'nav.signout' | translate }}</span></a>
                </li>
            </ul>
        </header>