    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <meta name="description" content="Flexible and powerful CMS built with Node.js framework/platform">
    <meta name="keywords" content="">
    <meta name="author" content="Luis Fernando Schneiders">
    <meta name="robots" content="nofollow" />
    <link rel="shortcut icon" href="/img/admin/icon.png" />
    <link rel="apple-touch-icon" href="/img/admin/schneiders-tech-software-development.png">
    <title>Portal Admin | <%= title %></title>
    <link rel="stylesheet" href="../css/app.css">