<div class="text-center text-uppercase text-dashboard"><i class="fa fa-dashboard"></i>{{ 'nav.title' | translate }}</div>
<ul class="vertical menu" data-drilldown>
    <li>
        <a href="#/" class="drilldown-back">
            <i class="fa fa-home"></i><span class="text-capitalize">{{ 'nav.home' | translate }}</span>
        </a>
    </li>
    <li>
        <a href="#"><i class="fa fa-thumb-tack"></i><span>{{ 'nav.post' | translate }}</span></a>
        <ul class="vertical menu">
            <li><a href="#new-post" class="drilldown-back"><i class="fa fa-plus"></i><span>{{ 'nav.newPost' | translate }}</span></a></li>
            <li><a href="#list-all-posts" class="drilldown-back"><i class="fa fa-search"></i><span>{{ 'nav.findPost' | translate }}</span></a></li>
        </ul>
    </li>
    <li><a href="#findAllUsers" class="drilldown-back"><i class="fa fa-users"></i><span>{{ 'nav.user' | translate }}</span></a></li>
    <li>
        <a href="#"><i class="fa fa-gear"></i><span>{{ 'nav.settings' | translate }}</span></a>
        <ul class="vertical menu">
            <li><a href="#roles" class="drilldown-back"><i class="fa fa-sliders"></i><span>{{ 'nav.role' | translate }}</span></a></li>
            <li><a href="#language" class="drilldown-back"><i class="fa fa-language"></i><span>{{ 'nav.language' | translate }}</span></a></li>
        </ul>
    </li>
</ul>
