<div class="admin-title text-uppercase">
    <i class="{{ pageSettings.icon }}"></i>
    <span class="text-decoration-underline">{{ 'post.titleListPosts' | translate }}</span>
</div>
<form method="post" data-abide novalidate>
<span class="text-center callout hide" ng-class="showClass">{{ message }}</span>
<div class="search medium-6 medium-centered columns">
    <i class="fa fa-search"></i>
    <input type="search" ng-model="search" class="search-query text-capitalize input-effects" placeholder="{{ 'post.fieldSearch' | translate }} {{ 'post.titleListPosts' | translate }}...">
    <span class="input-effects-bar"></span>
</div>
<table class="stack text-capitalize list-all-posts" role="grid" width="100%">
    <thead>
        <tr>
            <th width="40%"><a ng-click="order('title')">{{ 'post.txtTitle' | translate }} <i class="fa fa-unsorted" ng-show="predicate === 'title'" ng-class="{reverse:reverse}"></i></a></th>
            <th width="15%"><a ng-click="order('author')">{{ 'post.txtAuthor' | translate }} <i class="fa fa-unsorted" ng-show="predicate === 'author'" ng-class="{reverse:reverse}"></i></a></th>
            <th width="20%"><a ng-click="order('date')">{{ 'post.txtDate' | translate }} <i class="fa fa-unsorted" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></i></a></th>
            <th width="10%"><a ng-click="order('status')">{{ 'post.txtStatus' | translate }} <i class="fa fa-unsorted" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></i></a></th>
            <th class="text-right" width="15%">{{ 'post.txtAction' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in listallpost.data | orderBy:predicate:reverse | filter: search">
            <td>{{ post.post_title }}</td>
            <td>{{ post.post_author }}</td>
            <td>{{ post.post_date | date:'dd/MM/yyyy - h:mma' }}</td>
            <td>
                <span ng-if="post.post_status == 'publish'">{{ 'post.txtPublish' | translate }}</span>
                <span ng-if="post.post_status == 'draft'">{{ 'post.txtDraft' | translate }}</span>
                <div class="switch small">
                    <input class="switch-input" id="{{post._id}}" type="checkbox" ng-model="post.post_status" ng-change="updateStatus('{{post._id}}', '{{post.post_status}}')" ng-true-value="'publish'" ng-false-value="'draft'">
                    <label class="switch-paddle" for="{{post._id}}">
                        <span class="show-for-sr" ng-if="post.post_status == 'publish'">{{ 'post.txtPublish' | translate }}</span>
                        <span class="show-for-sr" ng-if="post.post_status == 'draft'">{{ 'post.txtDraft' | translate }}</span>
                    </label>
                </div>
            </td>
            <td class="text-right">
                <button type="submit" class="small button text-uppercase blue-button">
                {{ 'post.btnEdit' | translate }}<i class="fa fa-pencil"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>    
</form>