<div class="admin-title text-uppercase">
    <i class="{{ pageSettings.icon }}"></i>
    <span class="text-decoration-underline">{{ 'post.titleAddPosts' | translate }}</span>
</div>
<form name="postForm" novalidate>
    <div class="columns small-12 medium-8">
        <label>
            <span class="text-capitalize">{{formCtrl.post_title}} 
                <i class='alert' ng-show="postForm.post_title.$invalid">{{ postForm.error_field }}</i>
            </span>
            <input 
                type="text" 
                name="{{ formDescription.post_title }}"
                ng-model="formField.post_title" 
                required >
        </label>

    </div>
    <div class="columns small-12 medium-4">

    </div>
</form>